<% if @content.length != 0 %>
  <% @content.each do |content|%>
    <div class = "item-list">
      <%= link_to content_path(content.id) do%>  
      <div class = "content-image">
          <%= image_tag content.image, class:"item-image"%>
          <div class = "item-info">
            <div class = "item_name">
              <%= content.name%>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class = no_content>
  まだ見つけたことがありません
  </div>
<% end %>