<div class = "side_bar_wrapper">
  <div class = "side_bar_titles">
  <%= link_to "新しい生き物", new_content_path, class: "new-post"%>
        <%= search_form_for @q, url: search_contents_path do |f| %>
        <% f.label :name_cont %>
        <%= f.text_field :name_cont,placeholder: '名前で探す' %>
        <%= f.submit '探す'%>
      <% end %>
  
  <div class = "side_bar_title">
  <h1>種類別の図鑑</h1>
  </div>
  <div class = "insects">
  <h1>虫</h1>
  </div>
  <div class = "animals">
  <h1>動物</h1>
  </div>
  <div class = "birds">
  <h1>鳥</h1>
  </div>
  <div class = "reptiles">
  <h1>は虫類</h1>
  </div>
  <div class = "amphibians">
  <h1>両生類</h1>
  </div>
  <div class = "fish">
  <h1>魚</h1>
  </div>
  <div class = "other">
  <h1>その他</h1>
  </div>
  <div class = "unknown">
  <h1>わからない</h1>
  </div>
 </div>


</div>