<div class = "side_bar_wrapper">
  <div class = "side_bar_titles">
  <div class = "side_bar_title">
  <h1>種類別の図鑑</h1>
  </div>
  <div class = "insects">
  <h1>虫</h1>
  </div>
  <div class = "animals">
  <h1>動物</h1>
  </div>
  <div class = "birds">
  <h1>鳥</h1>
  </div>
  <div class = "reptiles">
  <h1>は虫類</h1>
  </div>
  <div class = "amphibians">
  <h1>両生類</h1>
  </div>
  <div class = "fish">
  <h1>魚</h1>
  </div>
  <div class = "other">
  <h1>その他</h1>
  </div>
  <div class = "unknown">
  <h1>わからない</h1>
  </div>
 </div>


</div>