<div class = top-wrapper>
  <%= render "shared/header"%>
  <div class = "wrapper">
    <div class = "side_bar">
      <%= render "side_bar"%>
    </div>
    <div class ="main">
      <%="詳細表示"%>
    </div>
  </div>
  <%= render  "shared/footer"%>
</div>