.footer{
  height: 10vh ;
  display: flex;  
position: relative;
}
.next_page{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 25%;
  position: absolute;
  top: 0;
  left: 0;
}
.previous_page{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.previous {
  text-decoration: none;
  color: black;
  background-color: goldenrod;
}
.next{
  text-decoration: none;
  color: black;
  background-color: goldenrod;
}
