.header{
  height: 20vh ;
  display: flex;

}
.header_left{
  height: 100%;
  width: 200px;
  display: flex;
}
.main-title{
  height: 100%;
  width: 70%;
  color: burlywood;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_logo {
 width: 30%;
 height: 100%;
}
.title_logo img{
height: 100%;
width: 100%;
padding: 20px 0;
}
.header_right{
  height: 100%;
  width: calc(100% - 200px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.all_article{
  background-color: yellowgreen;
  margin: 0 20px;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow:3px 3px  gold;
}
.all_article a{
  font-size: 3vw 3vh;
  text-decoration: none;
  color: black;
}
.my_article{
  background-color: mediumseagreen;
  margin: 0 20px;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow:3px 3px  gold;
}
.my_article a{
  font-size: 3vw 3vh;
  text-decoration: none;
  color:black;
}
.logout{
  background-color:olivedrab ;
  margin: 0 20px;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow:3px 3px  gold;
}
.logout a{
  font-size: 3vw 3vh;
  text-decoration: none;
  color:black;
}
.login{
  background-color: yellowgreen;
  margin: 0 20px;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow:3px 3px  gold;
}
.login a{
  font-size: 3vw 3vh;
  text-decoration: none;
  color:black;
}
.signin{
  background-color: mediumseagreen;
  margin: 0 20px;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow:3px 3px  gold;
}
.signin a{
  font-size: 3vw 3vh;
  text-decoration: none;
  color:black;
}