.top-wrapper{
  background-image: image-url('desk3.png');
  background-size: cover;
}

.wrapper{
  display: flex;
  height:70vh;
  padding-right: 40px ;
  
}
.side_bar{
  width: 15%; 
  margin-right: 30px; 
}
.main{
  width: 85%;
  background-image: image-url('book3.png');
  background-size:100% 100% ;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 5% 5% 6%;
}

