.top-wrapper{
  background-image: image-url('desk3.png');
  background-size: cover;
}

.wrapper{
  display: flex;
  height:70vh;
  
}
.side_bar{
  width: 15%;  
}
.main{
  width: 85%;
  background-image: image-url('book3.png');
  background-size:100% 100% ;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  padding: 5% 5% 5% 6%;
}

.item-list{
  width: 7vw;
  height: 30vh;
  margin-left: 20px;
}

.item-image {
  width: 100px;
  height: 150px;
}

.item-info{
  display: flex;
  justify-content: center;
}
