.show-main{
  width: 100%;
  background-image:image-url('book3.png') ;
  background-size:100% 100% ;
  display: flex;

}

.left-page{
  height: 100%;
  width: 50%;
  padding: 8% 5% 5% 12%;
  

}
.name_area{
  height: 20%;
  width: 100%;
  display: flex;
}

.name-tag{
  height: 100%;
  width: 50%;
  font-size: 30px;
}
.item-name{
  height: 100%;
  width: 50%;
  font-size: 30px;
}
.kind_area{
  height: 12%;
  width: 100%;
  display: flex;
}
.kind-tag{
  height: 100%;
  width: 50%;
}
.item-kind{
  height: 100%;
  width: 50%;
}
.date_area{
  height: 12%;
  width: 100%;
  display: flex;
}
.date-tag{
  height: 100%;
  width: 50%;
}
.item-date{
  height: 100%;
  width: 50%;
}
.place_area{
  height: 12%;
  width: 100%;
  display: flex;
}
.place-tag{
  height: 100%;
  width: 50%;
}

.item-place{
  height: 100%;
  width: 50%;
}
.user_name_area{
  height: 12%;
  width: 100%;
  display: flex;
}
.user_name-tag{
  height: 100%;
  width: 50%;
}

.user_name{
  height: 100%;
  width: 50%;
}
.edit_delete{
  height: 12%;
  width: 100%;
  display: flex;
}
.edit-tag{
  height: 100%;
  width: 50%;
}

.delete-tag{
  height: 100%;
  width: 50%;
}
.to_comment{
  height: 12%;
  width: 100%;
}
.right-page{
  height: 100%;
  width: 50%;
  padding: 5% 6% 5% 8%;
}

.show-image{
height: 70%;
padding: 0 20% 0 20%;
}
.show-image img{
  height: 100%;
 width: 100%;

}
.memo-area{
height: 30%;
}
.memo-tag{
  height: 20%;
}
.memo-content{
  height: 80%;
}